/* Main Body Styles */

body {
    background: 
    #E8D9CD
    url("../images/mtg_colors.png")
    no-repeat
    bottom right / 195px 730px
    fixed;
    display: grid;
    justify-items: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

header {
    font-size: x-large;
    text-align: center;
    background-color: #959D90;
    color: #223030;
    width: 100%;
    padding: 20px 0;
    position: sticky;
    top: 0;
}

nav {
    font-size: medium;
}

nav a {
    border-radius: 10px;
    background-color: #414141;
    color: #E8D9CD;
    text-decoration: none;
    padding: 10px 30px;
    text-transform: uppercase;
}

nav a:hover {
    border-radius: 10px;
    background-color: #414141;
    color: #BBA58F;
}

a {
    color: #E8D9CD;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: #223030;
}

tr {
    display: block;
    padding: 30px;
}

video {
    display: flex;
    margin: 0 auto;
}

/* Class Styles */

.center {
    text-align: center;
}

.td-left {
    width: 30%;
    vertical-align: middle;
}

.td-right {
    width: 60%;
    vertical-align: top;
    padding-right: 5%;
}

.td-left img {
    height: auto;
    max-width: 80%;
    display: block;
}

.logo {
    width: 80%;
    max-width: 400px;
    margin-bottom: 30px;
}

.article-header {
    text-align: center;
}

.wrapper {
    font-size: 22px;
    border-radius: 10px;
    text-align: left;
    width: 70%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 60px;
    background: rgb(149, 157, 144, 0.8);
    padding: 30px;
}

.card-link {
    display: none;
}

/* Media query Styles */

@media (max-width: 600px) {
    body {
        background: 
        #E8D9CD
        url("../images/mtg_colors.png")
        no-repeat
        bottom center / 150px 550px
        fixed;
        display: grid;
        justify-items: center;
        font-family: Arial, Helvetica, sans-serif;
        margin: 0;
    }

    header {
        font-size: medium;
        text-align: center;
        background-color: #959d90;
        color: #223030;
        width: 100%;
        padding: 20px;
        position: sticky;
        top: 0;
        justify-items: center;
    }
    
    nav a {
        width: 80%;
        padding: 10px;
        margin-bottom: 10px;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    .wrapper {
        width: 70%;
        margin-left: 10%;
        margin-right: 10%;
        font-size: medium;
        background: rgb(149, 157, 144, 0.9);
    }

    .center {
        text-align: center;
    }

    table {
        display: block;
    }

    tr {
        padding: 0;
    }

    .td-left {
        visibility: hidden;
        width: 0%
    }

    .td-right {
        width: 100%;
        padding: 0;
    }

    .card-link {
        display: block;
        visibility: visible;
    }

    .card-header {
        visibility: hidden;
    }
}
